body{
	background-color:white;
	

}
a {
    background-color: transparent;
	color:white;
	margin-top:20px;
	font-weight:bold;
 font-family: 'Roboto',sans-serif!important;

}
h1{
	text-align:center;
	color:white;
	margin-top:250px;
	 font-family: 'Roboto',sans-serif!important;
}
h6{
	color:white;
	 font-family: 'Roboto',sans-serif!important;
}
button{
	margin-top:10px;
	
}

.modal-content{
	background-image:url('images/700.jpg')
	
	
}
img {
    vertical-align: middle;
    border-style: none;
    width: 80px;
    text-align: center;
    margin-left: 150px;
	margin-top:50px;
   
}

.row-up {
    display: -ms-flexbox;
    display: flex;
   margin-left:100px;
   margin-bottom:200px;
   margin-top:150px;
   margin-top: -200px;
  
   
}
.row-down {
    display: -ms-flexbox;
    display: flex;
   margin-left:20px;
   margin-bottom:20px;
  
   
}
#myModal{
    width: 600px;
    height: 800px;
    
}
.navbar-toggler-icon {
	background-color:brown;
}
.row-u {
    display: -ms-flexbox;
    display: flex;
   margin-left:100px;
   margin-bottom:200px;
   margin-top:50px;
   margin-top: -10px;
  
   
}
.container{
	
	
}
